name: Docker Image build + push + deploy - main branch
permissions:
  id-token: write
  packages: write

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      delete:
        description: 'Delete and redeploy'
        required: true
        default: 'false'
        type: boolean

jobs:

  build-deploy-prod:

    runs-on: ubuntu-latest
    environment: production

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ghcr.io/es-na-battlesnake/code-snake:latest

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Push Docker image
      run: docker push ghcr.io/es-na-battlesnake/code-snake:latest
    
    - name: 'Login via Azure CLI'
      uses: azure/login@v2.3.0
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }} 
        enable-AzPSSession: true

    - name: Delete existing deployment if delete is true
      run: |
        if ! az container list | grep -q code-snake; then
          echo "No deployment found"
        elif [ "${{ github.event.inputs.delete }}" = "true" ]; then
          echo "Deleting existing deployment due to true flag"
          az container delete --yes --name code-snake --ids "/subscriptions/${{ secrets.AZURE_SUBSCRIPTION_ID }}/resourceGroups/snekResourceGroup/providers/Microsoft.ContainerInstance/containerGroups/code-snake"
        fi
    
    - name: 'Deploy to Azure Container Instances'
      uses: 'azure/aci-deploy@v1'
      with:
        resource-group: snekResourceGroup
        dns-name-label: code-snek
        image: ghcr.io/es-na-battlesnake/code-snake:latest
        name: code-snake
        location: 'west us 2'
        ports: '4567 4568 4569 4570 4571 8080 8081'
        restart-policy: OnFailure
        ip-address: Public
